.channels {
	padding: 10px;
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
	height: auto;
	max-height: 999px;
	@include single-transition(all, 1s, ease);
}
.channel {
	display: inline-block;
	width: 85px;
	height: 85px;	
	@include border-radius(85px);
	background-color: $orange;
	margin: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 5px -1px rgba(#000, 0.5);

	img {
		display: block;
		@include border-radius(95px);
		height: 100%;
		width: 100%;
	}
	
	&.small {
		width: 40px;
		height: 40px;
	}

	&.selected, &.pep-active {
		z-index: 997;
	}

	&.shake {
		@include shake(1s);
	}
}