<div ng-controller="channels">
	<div class="row">
		<div class="columns">
			<h1 class="site-title"><span>Twistin.fr</span> Le meilleur de la TV, Youtube et d'internet !</h1>
		</div>
	</div>
	<div class="row">
		<div class="columns small-12 medium-8 small-centered channels" id="channels">
			<!-- on affiche les images des différent channels -->
			<span class="channel" ng-repeat="channel in channels | limitTo : 9 | filter : {name: keyword}"><img title="{{channel.name}}" ng-src="{{channel.image}}" alt="{{channel.description}}"></span>
		</div>
		<div class="columns small-6 small-centered">
			<input type="text" placeholder="Rechercher une chaine" ng-model="keyword"/>
		</div>
	</div>
	<div class="row">
		<div class="small-11 medium-8 small-centered columns mix_zone" id="mix_zone">
		</div>
	</div>
</div>

<script>
	$(function() {	
		var drake = dragula([channels,mix_zone]);

		drake.on('remove', function(){
			console.log('remove');
		});
		drake.on('drop', function(){
			console.log('drop');
			$("#channels").css('max-height','999px');
			$("#mix_zone").css('height','auto');
		});
		drake.on('drag', function(el, container){
		});
		drake.on('shadow', function(el, container){
			setTimeout(function() {			
				$("#channels").css('max-height',$('#channels').innerHeight());
				$("#mix_zone").css('height',$('#mix_zone').innerHeight());
			}, 100);
		});
	});
</script>
