<div class="row" ng-controller="medias">
	<div class="columns small-12" style="margin-top:50px;">
		<input class="search" type="text" placeholder="Recherche" ng-model="keyword"/>
		<a href="manager/#/medias/add" class="button small" style="float:right">Ajouter un media</a>
		<h1>Liste des médias :</h1>
		<ul ng-show="medias">
			<li ng-repeat='media in medias | orderBy : nom | filter : {nom : keyword} as results'>
				<div class="image"><img ng-hide="!media.img" ng-src="{{media.img}}"></div>
				<a href="/manager/#/medias/{{media._id}}">{{media.nom}} ({{media.url}})</a>
			</li>
		</ul>
		<p ng-show="results.length == 0" class="no_items">Il n'y a aucun média.</p>
	</div>
</div>