<div ng-controller="channels">
	<div class="header">
		<div class="row">
			<div class="columns small-3">
				<p class="site-title"><a href="http://twistin.fr">Twistin.fr</a></p>
			</div>
			<div class="columns small-6">
				<input type="text" placeholder="Rechercher une chaine" ng-model="keyword"/>
			</div>
			<div class="columns small-3 site-social">
				<a href=""><span class="fa fa-twitter"></span></a>
				<a href=""><span class="fa fa-facebook"></span></a>
				<a href=""><span class="fa fa-linkedin"></span></a>
			</div>
		</div>
	</div>
	<div class="row first_after_header">
		<div class="columns small-12 medium-8 small-centered channels" id="channels">
			<!-- on affiche les images des différent channels -->
			<span class="channel" ng-repeat="channel in filterChannels = (channels | limitTo : limit | filter : {name: keyword})"><img title="{{channel.name}}" ng-src="{{channel.image}}" alt="{{channel.description}}"></span>
			<div class="no_result no_drag" ng-hide="filterChannels.length">
				<span class="channel"></span>
				<p>Il n'y a aucune chaine correspondante à votre recherche.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-11 medium-8 small-centered columns mix_zone" id="mix_zone">
			<p class="no_drag placeholder">Déposé les chaines ici pour créer votre cocktail ;)</p>
		</div>
	</div>
</div>
