<div class="row" ng-controller="medias">
	<div class="columns small-12" style="margin-top:50px;">
		<h1 style="margin-bottom:15px;">Ajout d'un média : </h1>
		<div class="columns small-6">
			<form>
				<div class="row collapse">
					<div class="columns small-3">
						<label class="prefix">Titre</label>
					</div>
					<div class="columns small-9">
						<input type="text" name="form_title" placeholder="Nouveau média"/>
					</div>
					<div class="columns small-3">
						<label class="prefix">Url</label>
					</div>
					<div class="columns small-9">
						<input type="text" name="form_url" placeholder="Url de base des vidéos du média"/>
					</div>
				</div>
			</form>
			<a href="" class="button small" ng-click="add();">Ajouter</a>
			<a href="/manager/#/medias" class="button small">Annuler</a>
		</div>
	</div>
</div>
